.projects {
  &__allItems {
    display: flex;
    gap: 3rem;
    margin-top: 5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
      margin-top: 7rem;
      gap: 5rem;
    }
  }
}

.swiper-container {
  padding-top: 8rem;
  max-width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: dimgrey;
  z-index: 10;
  right: 60px;
  left: auto;
  top: 0;
  transform: translateY(50%);
  color: gainsboro;
  border-radius: 8px;
}
