.projects {
  background: linear-gradient(90deg, rgb(31, 40, 51) 0%, rgb(11, 12, 16));
  background-color: #1f2833;
  &__allItems {
    display: flex;
    gap: 3rem;
    // margin-top: 5rem;
    @media (min-width: 320px) {
      margin: 16px 0 0 0;
    }
  }

  &__title {
    color: #66fcf1;
    text-align: center;

    @media (min-width: 320px) {
      font-size: 20px;
      padding: 0 0 36px 0;
    }

    @media (min-width: 768px) {
      font-size: 24px;
      margin: 0 8px 16px 0;
    }
  }
}

.projects {
  padding: 3rem 0;
}

.projects__allItems {
  display: flex;
  margin: 0 32px;
}

.swiper-button-next,
.swiper-button-prev {
  @media (max-width: 320px) {
    position: absolute;
    top: 43.5%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
}
