.projectItem__img {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  display: inline-block;
  border: 3px solid rgb(102, 252, 241);

  @media (min-width: 320px) {
    height: 250px;
  }
  @media (min-width: 375px) {
    height: 265px;
  }
  @media (min-width: 425px) {
    height: 235px;
  }
  @media (min-width: 768px) {
    height: 300px;
  }
}

.projectItem__info {
  background-color: rgb(102, 252, 241);
  padding: 1rem;
  border-radius: 12px;

  @media (min-width: 320px) {
    margin: 8px 0 0 0;
  }
  @media (min-width: 768px) {
    margin: 0 32px;
  }
}
.projectItem__img {
  @media (min-width: 320px) {
    margin: 0 16px 0 0;
  }
  @media (min-width: 768px) {
    margin: 0;
  }
}

.projectItem__title {
  @media (min-width: 320px) {
    font-size: 24px;
  }
  @media (max-width: 320px) {
    font-size: 24px;
  }
}

.projectItem__desc {
  font-size: 1.6rem;
  margin-top: 1rem;
  @media (min-width: 320px) {
    font-size: 16px;
    margin-block-start: 0;
    width: 100%;
  }
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.projectItem {
  @media (min-width: 320px) {
    margin: 0 28px;
  }
  @media (min-width: 768px) {
    margin: 0 36px;
  }
  @media (min-width: 1028px) {
    margin: 0 50px;
  }
}
